@charset "UTF-8";
/* CSS Document */

/*font-family: 'Quicksand', sans-serif;*/

body{
  background:url(../img/tree_bark.png);
  -webkit-background-attachment:fixed;
  -moz-background-attachment:fixed;
  background-attachment:fixed;
  height:80%;
  width:80%;
 
}

nav{
	background:rgba(41,104,83,.8);
}

li {
  float:left;  
  height: 50px;
  line-height: 50px;
  list-style: none;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 0;
  text-align: center;
  width: 150px;
}

.container{
	width:90%;
	
	
}

header{
	text-align:center;
	clear:both;
}

h1, h2{
	
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	color:rgba(41,104,83,1);
	
	
}

article{
	float:left;
	clear:left;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size:1 em;
}

a {
  background: ;
  display: block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background: rgba(52,17,57,.9);
  border-radius:50%;
}

#scroll{
	float:right;
	background-color:black;
	width:400px;
	height:400px;
	overflow:scroll;
	padding: 50px;
	
}


img{
	background:blue;
	width:400px;
	height:600px;
}





img+p{
	background:rgba(134,213,244, .5);
	width:100px;
	height:100px;
	position: relative;
	bottom:600px;
	left:350px;
	
}

footer{
	text-align:center;
}


@media screen and (max-width :800px){
	
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}

#nav ul {
	margin: 5% 0;
}

#nav ul li a {
	-webkit-user-select: none;
	font-size: 1em;
}

#nav ul li {
	float: left;
	margin: 5% 0;
	}
	
img{
	max-width:100%%

}
}

@media screen and (max-width :480px){
	
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;

}



#nav ul li a {
	-webkit-user-select: none;
	font-size: .75em;
}

#nav ul li {
	float: left;
	margin: 0 auto;
	}
	
img{
	width:100%;
	margin-left:30%;

}
}



